<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Head with links and settings -->
		<%- include('templates/head')%>
		<title>IDQ - Valdiacion Contrasena</title>
	</head>
	<body>
		<div class="container mt-3">
            <h1>Validacion de Contrasena Extra</h1>
			<!-- Form to login -->
			<form
				action="../pages/admin/<%= to %>"
				method="POST"
				enctype="application/x-www-form-urlencoded"
			>
				<input type="text" placeholder="Name" value="<%= name %>" readonly/>
				<input type="password" name="password" placeholder="Password" required/>
				<button type="submit">Enviar</button>
			</form>
            <h3 class="text-danger"><%= error !== undefined ? error : '' %></h3>
		</div>
		<!-- Footer -->
		<%- include('templates/footer')%>
	</body>
</html>
